.cards {
  background: #f6f9ff;
  margin: 0 auto;
  width: 100%;
  padding: 40px 0 80px;
  box-sizing: border-box;
  position: relative;
  @media screen and (max-width: 1200px) {
    padding: 20px 20px 40px;
  }
}

.cards_container {
  margin: 0 auto;
  max-width: 1164px;
}

.form {
  margin: 0;
  display: flex;
  column-gap: 20px;
  position: sticky;
  top: 100px;
  left: 0;
}

.select_wrapper {
  position: relative;
  width: 335px;
  margin: 0;
  border: none;
  background: #ffffff;
  border-radius: 10px;
  transition: box-shadow 0.3s linear;
  cursor: pointer;
}

.select_wrapper:hover {
  box-shadow: 1px 1px 3px gray;
}

.select {
  width: 335px;
  height: 52px;
  padding: 16px 46px;
  background: transparent;
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #888888;
  cursor: pointer;
}
.select::-ms-expand {
  display: none;
}

option[value=""][disabled] {
  display: none;
}

.user {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 20px;
  height: 20px;
}

.chevron {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 20px;
  height: 20px;
}

.cards_dateform {
  margin: 0;
  border: none;
  background: #ffffff;
  border-radius: 10px;
  padding: 16px;
  column-gap: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #888888;
  display: flex;
}

.start {
  cursor: pointer;
  max-width: 132px;
  display: flex;
  align-items: center;
}

.start_input {
  border: none;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #888888;
  width: 100%;
}

.cards_list {
    margin: 56px auto 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    @media screen and (max-width: 980px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
}
