.header {
    margin: 0 auto;
    background-color: #FFFFFF;;
    padding: 29px 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
}

.header_content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 1164px;
    width: 100%;
}

.logo {
    width: 120.71px;
    height: 30px;
    margin: 0;
}

.list {
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin: 0 0 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}